# Gemini
GEMINI_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# SWE-bench (evaluacion funcional del benchmark via sb-cli)
SWEBENCH_API_KEY=

# AI Agents google platform (antiguamente Vertex AI)
VERTEXAI_PROJECT=
VERTEXAI_LOCATION=
GOOGLE_APPLICATION_CREDENTIALS=